TestDX.vcproj.WOOBEST.liupr.user
TestDX.suo
TestDX.ncb
Debug/TestDX.log
Debug/TestDX.pch.ib_tag
Debug/TestDX.tlog/cl.command.1.tlog
Debug/TestDX.tlog/CL.read.1.tlog
*.ipch
*.tlog
*.obj
*.idb
*.ib_pdb_index
*.suo
*.suo
*.sdf
*.pdb
*.ilk
*.pch